.track__time {
    width: 60px;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.playlist__item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    row-gap: 25px;
    cursor: pointer;
}

.playlist__item.active {
    color: #AD61FF;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.track__title_text {
    width: 352px;
    height: 19px;
}

.track__author {
    width: 300px;
}

.track__author_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);

}

.track__author_link.active {
    color: #AD61FF;
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.track__album {
    width: 230px;
}

.track__album_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B1B1B1;
    transition: color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.track__album_link.active {
    color: #AD61FF;
    transition: color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.track__title_image {
    width: 51px;
    height: 51px;
    padding: 16px;
    cursor: pointer;
    background-color: var(--color-img);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    transition: background-color 0.8s ease-in-out;
}

.track__title_image.active {
    background-color: #AD61FF;
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.track__title_svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #7272724e;
}



.track__title_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);

}

.track__heart {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #B1B1B1;
    cursor: pointer;
}

.track__heart_favorite {
    fill: var(--color-img);
}

.track__time {
    width: 65px;
}

.track__time_text {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #B1B1B1;
    transition: color 0.3s ease, color 0.3s ease;
}