.progressLine {
    background-color: var(--color-img);
    transition: background-color 0.6s ease;
    

}

.playerProgress {

    height: 5px;
    background-color: rgb(164, 64, 223);
    transition: width 0.3s ease-in-out;
}