.main__nav {

    position: fixed;
    background-color: var(--color-background);
    top: 0;
    width: 200px;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    height: 100vh;


}

.main__nav_activ {
    position: fixed;
    background-color: var(--color-img);
    top: 0;
    width: 200px;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    height: 100vh;

}


.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: none;

}

.coverShow {
    display: block;

}

.button {
    position: fixed;
    margin-top: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    outline: none;
}

.burger__line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
}