* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background-light: #FFF;
  --color-text-light: #000;
  --color-img-light: #F6F4F4;


  --color-background-dark: #000;
  --color-text-dark: #fff;
  --color-img-dark: #2E2E2E;
}


*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: "StratosSkyeng", sans-serif;
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
  background-color: transparent;

}

ul li {
  list-style: none;
}

@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"), local("StratosSkyeng"), url("../fonts/Stratos-Regular.woff2") format("woff2"), url("../fonts/Stratos-Regular.woff ") format("woff")
    /* , url("../fonts/StratosSkyeng.ttf") format("truetype") */
  ;
  font-weight: 400;
  font-style: normal;
}

html,
.root,
body {
  width: 100%;
  height: 100%;
  font-family: "StratosSkyeng", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);

}

.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-background);
  transition: background-color 0.3s ease;
}

.container {
  margin: 0 auto;
  position: relative;
  background-color: var(--color-background);
  height: 100%;
  transition: background-color 0.3s ease;
}

._btn-text:hover {
  border-color: #D9B6FF;
  color: #D9B6FF;
  cursor: pointer;
}

._btn-icon:hover svg {
  fill: transparent;
  stroke: #ACACAC;
  cursor: pointer;
}

.link_active {
  color: #AD61FF;
  cursor: pointer;
  text-decoration: none;
  font-family: "StratosSkyeng", sans-serif;
  cursor: pointer;
}

._btn-text:active {
  border-color: #AD61FF;
  color: #AD61FF;
  cursor: pointer;
}

._btn-icon:active svg {
  fill: transparent;
  stroke: #FFFFFF;
  cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #FFFFFF;
  cursor: pointer;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--color-background);
  transition: background-color 0.3s ease;
}

.main__nav {
  width: 244px;
  background-color: transparent;
  padding: 20px 0 20px 36px;
}

.main__centerblock {
  width: 1300px;
  flex-grow: 3;
  padding-top: 39px;
  padding-left: 294px;
  background-color: var(--color-background);
  transition: background-color 0.3s ease;
}

.main__sidebar {
  max-width: 418px;
  padding-right: 78px;
  padding-left: 78px;
  background-color: var(--color-background);
  transition: background-color 0.3s ease;
}

.nav__logo {
  width: 150px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__menu {
  display: block;
  visibility: visible;

}

.logo__image {
  width: 113.33px;
  height: 17px;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #D3D3D3;
}

.menu__list {
  padding: 18px 0 10px 0;
}

.menu__item {
  padding: 5px 5px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.menu__item:hover {
  background-color: #696969;
}

.menu__link {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: color 0.3s ease;
}



.centerblock__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
}

.centerblock__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
}

.centerblock__content {
  display: flex;
  flex-direction: column;
}


.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--color-text);
  border-radius: 60px;
  padding: 6px 20px;
  margin-bottom: 10px;
  transition: border 3s ease;

}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.content__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.content__playlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.playlist-title__col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.playlist-title__svg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}

.col04 {
  width: 60px;
  text-align: end;
}

.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist__track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.track__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 416px;
}







.track__title-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);

}

.track__author {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.track__author-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  text-align: left;
  transition: color 0.3s ease, color 0.3s ease;
}


.sidebar__personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0 15px 0;
}

.sidebar__personal-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* color: var(--color-text); */
  transition: color 0.3s ease, color 0.3s ease;
  margin-right: 16px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar__block {

  padding: 240px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__item {
  width: 250px;
  height: 150px;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 30px;
}

.sidebar__link {
  width: 100%;
  height: 100%;
}

.sidebar__img {
  width: 100%;
  height: auto;
}

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background: rgba(28, 28, 28, 0.5); */
  background: var(--color-background);
  transition: background-color 0.3s ease, color 0.3s ease;

}

.bar__content {
  display: flex;
  flex-direction: column;
}

.bar__player-progress {
  width: 100%;
  height: 5px;
  background: #2E2E2E;
}

.bar__player-block {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar__player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.bar__volume-block {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
}

.player__controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.player__btn-prev, .player__btn-play, .player__btn-next, .player__btn-repeat, .player__btn-shuffle, .player__btn-pause {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

}


.player__track-play {
  display: flex;
  flex-direction: row;
}

.track-play__contain {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image author""image album";
  align-items: center;
}

.track-play__image {
  width: 51px;
  height: 51px;
  background-color: var(--color-img);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  grid-area: image;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.track-play__svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4E4E4E;
}

.track-play__author {
  grid-area: author;
  min-width: 150px;
}

.track-play__author-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  white-space: nowrap;
}

.track-play__album {
  grid-area: album;
  min-width: 49px;
}

.track-play__album-link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-text);
}

.track-play__like-dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 26%;
}

.track-play__like, .track-play__dislike {
  padding: 5px;
}

.track-play__like-svg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.track-play__dislike {
  margin-left: 28.5px;
}

.track-play__dislike-svg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.volume__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volume__progress {
  width: 109px;
}

.volume__progress-line {
  width: 109px;
}

/*# sourceMappingURL=style.css.map */